<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product: <%= item.name %></title>
  <link rel="stylesheet" href="/stylesheets/editProduct.css">
  <%- include('../partials/head.ejs', {token: token}) %>
</head>
<body>
  <form id="edit-product-form" class="edit-product-container" action="/update-product/<%= productId %>" method="post">
    <div class="product-image">
      <label for="product-image-url">Product Image URL:</label>
      <input type="text" id="product-image-url" name="image" value="<%= item.image %>">
      <img id="image-preview" src="<%= item.image %>" alt="Product Image">
    </div>
    <div class="product-info">
      <label for="product-name">Name:</label>
      <input type="text" id="product-name" name="name" value="<%= item.name %>">
      
      <label for="product-price">Price:</label>
      <input type="text" id="product-price" name="price" value="<%= item.price %>">
      
      <div class="quantity-editor">
        <label for="quantity">Qty:</label>
        <input type="number" id="quantity" name="quantity" value="<%= item.quantity %>">
      </div>
    </div>
    <div class="product-description">
      <label for="product-description">Description:</label>
      <textarea id="product-description" name="description"><%= item.description %></textarea>
    </div>
    <div class="product-actions">
      <input type="submit" class="btn save-changes" value="Save Changes">
      <button type="button" class="btn delete-product">Delete Product</button>
    </div>
  </form>
</body>
</html>
