<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product: <%= item.name %></title>
  <link rel="stylesheet" href="/stylesheets/editProduct.css">
  <%- include('../partials/head.ejs', {token: token, admin : admin}) %>
</head>
<body>
  <div class="edit-product-container">
  <form id="edit-product-form" action="/edit-product/<%= productId %>" method="post">
    <div class="product-image">
      <label for="product-image-url">Product Image URL:</label>
      <input type="text" id="product-image-url" name="image" value="<%= item.image %>">
      <img id="image-preview" src="<%= item.image %>" alt="Product Image">
    </div>
    <div class="product-info">
      <label for="product-name">Name:</label>
      <input type="text" id="product-name" name="name" value="<%= item.name %>">
      
      <label for="product-price">Price:</label>
      <input type="text" id="product-price" name="price" value="<%= item.price %>">
      
      <div class="quantity-editor">
        <label for="quantity">Qty:</label>
        <input type="number" id="quantity" name="quantity" min="0" value="<%= item.quantity %>">
      </div>
    </div>
    <div class="product-description">
      <label for="product-description">Description:</label>
      <textarea id="product-description" name="description"><%= item.description %></textarea>
    </div>
    <input type="hidden" name="productId" value= <%= productId %>>
    <input type="hidden" name="token" value= <%= token %>>

    <div class="product-actions">
      <input type="submit" class="btn save-changes" value="Save Changes">
    </div>
  </form>
  <form id="delete-product-form" action="/edit-product/<%= productId %>/delete" method="post">
    <input type="hidden" name="productId" value= <%= productId %>>
    <input type="hidden" name="token" value= <%= token %>>
    <input type="submit" class="btn delete-product" value="Delete Product" onclick="confirmDeletion(event)">
  </form>
  </div>
  <% if (change_log && change_log.length > 0) { %>
    <% change_log.forEach(function(change) { %>
      <div class="bubble centered-text">
        <p>Change ID: <%= change.change_id %></p>
        <p>Timestamp: <%= change.timestamp %></p>
        <p>Type: <%= change.type %></p>
        <p>Product ID: <%= change.product_id %></p>
        <p>User ID: <%= change.user_id %></p>
      </div>
    <% }) %>
  <% } %>
  
  <script>
    function confirmDeletion(event) {
      if (!confirm("Are you sure you want to delete this product?")) {
        event.preventDefault(); // Prevent form submission if the user clicks 'Cancel'
      }
    }
    </script>
    
  
</body>
</html>
