<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product - <% item.name %></title>
    <link rel="stylesheet" href="/stylesheets/viewProduct.css">
</head>
<body>
    <div class="product-container">
        <div class="product-details">
            <h1><%= item.name %></h1>
            <div class="product-image">
                <img src="<%= item.image %>" style="max-width: 400px; height: auto;">
            </div>
            <p class="price">$<%= item.price %></p>
            <% if (item.quantity > 0) { %>
                <p class="stock-status">Currently in Stock!</p>
            <% } else { %>
                <p class="stock-status">Out of Stock</p>
            <% } %>
            <form class="login-form" action="/view-product" method="post">
                <div class="quantity-selector">
                    <label for="quantity">Qty:</label>
                    <input id="quantity" type="number" value=1 />
                </div>
                <input type="hidden" name="token" value= <%= token %>>
                <input type="hidden" name="productId" value= <%= productId %>>
             <button type="submit" class="add-to-cart-btn">Add to Cart</button>
            </form>
            <p class="product-description"><%= item.description %></p>
        </div>
    </div>
</body>
</html>